.grid-container{
   display: flex;
   flex-direction: row;
   height: fit-content;
   width: 100%;

}
.grid-item {
    padding:10px;
    margin:10px;
   height: 30px;
   width: 30px;
    background-color: rgb(191, 183, 183);
    cursor: pointer;
    display: inline-block;
    position: relative;
    
}
.grid-item:hover{
    background-color: grey;
}