.grid-container{
    /* padding: 10px; */
    /* margin: 10px; */
}
.grid-item {
    padding:10px;
    margin:10px;
    height: 30px;
    width: 30px;
    background-color: rgb(191, 183, 183);
    cursor: pointer;
    display: inline-block;
    position: relative;
    
}
.grid-item:hover{
    background-color: grey;
}